body {
  font-family: Arial, sans-serif;
}

header {
  padding: 10px 0;
  text-align: center;
}

#tabLinks {
  display: inline-block;
}

#tabLinks a {
  padding: 10px 20px;
  margin: 0 5px;
  text-decoration: none;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#tabLinks a:hover {
  background-color: #ccc;
}

.tab-content {
  display: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}
